body {
	background-image: url('../assets/background.jpg');
	background-repeat: no-repeat;
	background-color: #404657;
	background-size: cover; 
	line-height: 35px;
	padding-top: 250px;
	padding-left: 60px;
}

hr {
	float: left;
	width: 50px;
	border-color:#FD6E6E;
	margin-top: -7px;
}

.ptext {
	color: #ffffff;
	font-family: helvetica;
	font-size: 20px;
}

.stripe {
	background: url('../assets/stripes.png') repeat-x;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 10px;
}
figure { 
	height:75px;
	margin:0;
}

.logo {background: url('../assets/logo-taasky.png') no-repeat;}

.apple_button {background: url('../assets/btn_store.png') no-repeat;}
